[submodule ".deploy/qingniufly.github.io"]
	path = .deploy/qingniufly.github.io
	url = https://github.com/qingniufly/qingniufly.github.io.git
[submodule "themes/yilia"]
	path = themes/yilia
	url = https://github.com/litten/hexo-theme-yilia.git
